<% include ../partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">Add New Comment to <%= blog.title %></div>
        <div style="width: 30%; margin: 25px auto;">
            <form class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
                <div class="field">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
				<div class="field">
                    <input class="form-control" type="text" name="comment[author]" placeholder="author">
                </div>
                <div class="field">
                    <button class="ui big violet basic button">Submit!</button>
                </div>
            </form>
            <a href="/blogs">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>

   <!-- <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui big violet basic button">Create Post</button>
    </form>
</div>-->
